.histoyPage {
  width: 98%;

  margin: 0 auto;
  margin-top: 24px;
}

.histoyPage ul {
  border-bottom: solid 2px #fd9a00;
  padding-bottom: 12px;
  color: white;
}

.taskHistoryTimeNboxes li {
  list-style-type: none;
}

.taskHistoryTimeNboxes {
  display: grid;
  grid-template-rows: 50px auto;
}

.taskHistoryBoxes {
  display: grid;
  grid-template-columns: 70% 30%;
}

.taskHistoryBoxes span {
  font-weight: 600;
  color: #4869b0;
  vertical-align: middle;
}

.taskHistoryBoxes input {
  height: 24px;
  width: 24px;
  border: solid 2px #fd9a00;
  margin-left: 5px;
  vertical-align: middle;
}

@media (max-width: 767.98px) {
  .taskHistoryBoxes {
    display: grid;
    grid-template-columns: 100%;
  }
}
